{{#leaflet-map lat=lat lng=lng zoom=zoom id="map"}}
  {{!-- Specify child layer components here --}}
  {{tile-layer url="http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png"}}
  {{#each bezirke as |bezirk|}}
    {{#geojson-layer geoJSON=bezirk.geojson onClick=(action "onClick" bezirk) color="#3388ff"}}
    {{#popup-layer}}
        <h3>{{bezirk.name}}</h3>
      {{/popup-layer}}
    {{/geojson-layer}}
  {{/each}}
  
    
  {{/leaflet-map}}
{{yield}}
