<div class="dashboard">
{{#leaflet-map lat=lat lng=lng zoom=zoom id="map"}}
  {{!-- Specify child layer components here --}}
  {{tile-layer url="http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png"}}
  {{#each model.ebene as |raum|}}
  
    {{#geojson-layer geoJSON=raum.geojson className=raum.name style=raum.style  onClick=(route-action 'setRaum' raum) }}
    {{#popup-layer}}
        <h3>{{raum.name}}</h3>
        {{raum.value}}
      {{/popup-layer}}
    {{/geojson-layer}}
    
  {{/each}}
  {{/leaflet-map}}
</div>
{{yield}}
