{{#ebene/ebene-map model=model}}
{{/ebene/ebene-map}}
{{#ebene/ebene-attributes id="info-window-control" model=model}}
{{/ebene/ebene-attributes}}

{{#ebene/ebene-info id="info-window-details" model=model activeYear=activeYear}}
{{/ebene/ebene-info}}
<div id="info-window-slider">
<div class="info-window">
<h3>{{activeYear}}</h3>
{{ui-slider 
     defaultValue=maxYear 
     value=activeYear
     min=minYear 
     max=maxYear 
     step=1 
     orientation='horizontal' 
     tooltip='show' 
     changed=(route-action 'setYear')  
     disabled=false 
     reversed=false 
     focus=false 
     naturalArrowKeys=false 
     immediateResponse=false }}
</div>
</div>

{{yield}}
